<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Browser" value="Chrome" />
    <add key="Username" value="SuperAdmin" />
    <add key="Password" value="Password" />
    <add key="WebSite" value="https://guysandbeer.github.io/GroupMoney_Web/" />
    <add key="PageLoadTimeout" value="10" />
    <add key="ImplicitlyWait" value="10" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Gherkin" publicKeyToken="86496cfa5b4a5851" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-22.0.0.0" newVersion="22.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>