<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Browser" value="Chrome"/>
    <add key="Username" value="SuperAdmin"/>
    <add key="Password" value="Password"/>
    <add key="WebSite" value="https://saba024.github.io/Front-end_labs/"/>
  </appSettings>
</configuration>